@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

html{
    height:100%;
    overflow: hidden;
}

body {
    background: white;
}

#background {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255,133,0);
    background: radial-gradient(circle, rgba(255,133,0,1) 30%, rgb(47,79,79) 90%);
    filter: brightness(50%);
}

#ground {
    position: absolute;
    bottom: -0.5%;
    left: 0;
    right: 0;
    width: 102%;
    height: 15%;
    background: #56b000;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    z-index: 1;
    filter: brightness(0%);
}

#cat {
    position: absolute;
    bottom: 10%;
    width: 123.5px;
    height: 176.1px;
    z-index: 2;
    transform: rotate(-8deg);
    filter: brightness(50%);
}

#ghost1 {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 187.1px;
    height: 260.8px;
    z-index: 1;
    transform: rotate(-8deg);
    filter: opacity(20%);
}

#ghost2 {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 187.1px;
    height: 260.8px;
    z-index: 1;
    transform: rotate(-8deg);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: opacity(20%);
}

#moon {
    position: absolute;
    width: 374.6px;
    height: 374.2px;
    z-index: -1;
    left: 35%;
    filter: brightness(50%);
}

#rip {
    position: absolute;
    width: 374.6px;
    height: 374.2px;
    z-index: -1;
    left: 45%;
    bottom: 10%;
    filter: brightness(50%);
}

#bird {
    position: absolute;
    bottom: 11.5%;
    width: 256px;
    height: 140.8px;
    z-index: 2;
    transform: rotate(-7deg);
    right: 0;
    filter: brightness(50%);
}

#pumpkin {
    position: absolute;
    bottom: 14%;
    width: 139.2px;
    height: 139px;
    z-index: 1;
    left: 38%;
    filter: brightness(50%);
}

.halloween-text {
    position: absolute;
    font-family: 'Reenie Beanie', cursive;
    color: white;
    bottom: 0%;
    right: 42%;
    font-size: 40px;
    z-index: 3;
    rotate: -20deg;
}

.drop {
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgb(0, 0, 0)), to(rgba(255,255,255,0.6))  );
    background: -moz-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(255,255,255,.6) 100%);
    width:1px;
    height:89px;
    position: absolute;
    bottom:200px;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;
    z-index: 0;

}

.vignette {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 150px 20px black;
    mix-blend-mode: multiply;
    -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
    -moz-animation: vignette-anim 3s infinite; /* Fx 5+ */
    -o-animation: vignette-anim 3s infinite; /* Opera 12+ */
    animation: vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
}

.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: 0.15;
}

.line {
    position: absolute;
    height: 100%;
    width: 1px;
    opacity: 0.1;
    background-color: #000;
}

.titleCont {
    position: relative;
}

.overTitle {
    position: absolute;
    top: 0;
    left: 0;
}

.dot {
    width: 3px;
    height: 2px;
    background-color: white;
    position: absolute;
    opacity: 0.3;
}

@-webkit-keyframes vignette-anim {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}
@-moz-keyframes vignette-anim {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}
@-o-keyframes vignette-anim {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}
@keyframes vignette-anim {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}


/* animate the drops*/
@-webkit-keyframes fall {
    to {margin-top:900px;}
}
@-moz-keyframes fall {
    to {margin-top:900px;}
}

.squig-text {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Amatic SC', sans-serif;
    font-size: 100px;
    color: #fff;
    -webkit-animation: squiggly-anim 0.34s linear infinite;
    animation: squiggly-anim 0.34s linear infinite;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    outline: none;
    text-align: center;
    line-height: 1;
    z-index: 3;
}

@-webkit-keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0");
        filter: url("#squiggly-0");
    }
    25% {
        -webkit-filter: url("#squiggly-1");
        filter: url("#squiggly-1");
    }
    50% {
        -webkit-filter: url("#squiggly-2");
        filter: url("#squiggly-2");
    }
    75% {
        -webkit-filter: url("#squiggly-3");
        filter: url("#squiggly-3");
    }
    100% {
        -webkit-filter: url("#squiggly-4");
        filter: url("#squiggly-4");
    }
}
@keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#squiggly-0");
        filter: url("#squiggly-0");
    }
    25% {
        -webkit-filter: url("#squiggly-1");
        filter: url("#squiggly-1");
    }
    50% {
        -webkit-filter: url("#squiggly-2");
        filter: url("#squiggly-2");
    }
    75% {
        -webkit-filter: url("#squiggly-3");
        filter: url("#squiggly-3");
    }
    100% {
        -webkit-filter: url("#squiggly-4");
        filter: url("#squiggly-4");
    }
}


